/* Navbar focused */

@media (max-width: 825px) {
    .nav-wrap {
        height: 100px !important;
    }

    .page-links {
        flex-direction: column !important; 
        justify-content: space-evenly !important;
    }

    .nav-link {
        height: 20px !important;
        padding: 0 !important;
    }
    
    li > a {
        height: 20px !important;
        padding: 0 !important;
    }

    main {
        margin-top: 125px !important;
    }
}

/* Features level focused */

@media (min-width: 800px) {
    .feature-left {
        width: 30% !important;
    }

    .feature-right {
        width: 70% !important;
    }
}

@media (min-width: 1200px) {
    .feature-left {
        width: 35% !important;
    }

    .feature-right {
        width: 65% !important;
    }
}

/* Packages level focused */

@media (max-width: 800px) {
    .packages-wrap {
        flex-direction: column;
    }

    .package {
        width: 300px !important;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: -60px !important;
    }

    .package:last-of-type {
        margin-bottom: 20px !important;
    }
}

/* Footer focused */

@media (max-width: 800px) {
    footer {
        width: 80% !important;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Document level preferences */ 

* {
    box-sizing: box-border;
}

html {
    padding-bottom: 0;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(238, 238, 238);    
    font-family: sans-serif;
}

/* Navbar Level preferences*/

.nav-wrap {
    background-color: goldenrod;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 5;
}

#nav-bar {
    height: 100%;
    display: flex;
}

img {
    width: 0px;
    height: 0px;
    margin: 0;
    padding: 0;
}

.company-branding {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
}

.company-logo {
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    text-align: right;
}

#logo-copter {
   text-align: right;
   width: 100%;
   padding-right: 4px;
}


.company-branding h2 {
    margin: 0;
}

.company-name {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
}

.page-links {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: 0;
}

.nav-link-li {
    height: 35px;
    display: flex;
    align-items: center;
    padding: 0;
    margin-right: 10px;
    
}

.nav-link > a {
    padding: 5px;
    width: 100px;
    height: 60%;
    text-decoration: none;
    font-size: 1.1em;
    color: black;
    text-align: center;
    font-weight: bold;
    border: 1px rgb(94, 94, 94) solid;
}

.nav-link > a:hover {
    background-color: gold;
}

main {
    margin-top: 85px;
    text-align: center;
}

/* Form Elements */

.form-wrap {
    display: flex;
    justify-items: center;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

#email {
    width: 300px;
    height: 30px;
}

#submit {
    margin-top: 10px;
    width: 250px;
    height: 30px;
    border: none;
    font-weight: bold;
    background-color: goldenrod;
    font-size: 1.1em;
}

/* Feature Elements */

.feature-wrap {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
}

.feature-wrap:first-of-type {
    margin-top: 100px;
}

.feature-left {
    height: 50px;
    width: 25%;
    justify-content: right;
    align-items: center;
    display: flex;
}

.feature-right {
    width: 75%;
    text-align: left;
}

.feature-left i {
    text-align: right;
    margin-right: 50px;
}

h2 {
    margin: 0;
    padding: 0;
}

.feature-right p {
    margin: 0;
    padding: 0;
    padding-right: 20px;
}

/* Video elements */

video {
    margin-top: 60px;
    z-index: -1;
}

/* Footer Elements */

.footer-wrap {
    width: 100vw;
    margin-bottom: -10px;
    margin-top: 45px;
    margin-left: -10px;
}

footer {
    height: 80px;
    background-color: rgb(221, 221, 221);
    width: 800px;
    text-align: right;
    margin-left: auto;
    margin-right: auto;
}

.footer-links {
    padding-bottom: 0;
}

.footer-links-list {
    padding-bottom: 0;
    margin-bottom: 0;
}

.footer-links ul {
    list-style: none;
}

.footer-links-list {
    display: flex;
    justify-content: right;
    padding-bottom: 5px;
}

.footer-link {
    margin-bottom: 0;
}

.footer-link a {
    text-decoration: none;
    padding-right: 20px;
    margin-bottom: 0;
    color: black;
}

footer p {
    margin-top: 0;
    padding-right: 15px;
}

/* Tour Packages Elements */

.packages-wrap {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.package {
    border: 2px solid black;
    margin-top: 60px;
    padding-bottom: 20px;
}

.package-type {
    background-color:rgb(209, 209, 209);
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
}

.package-type h3 {
    text-align: center;
    width: 100%;
}

.package p {
    margin-right: 45px;
    margin-left: 45px;
}

.package h2 {
    margin-top: 15px;
}

.package input {
    background-color: goldenrod;
    border: none;
    font-size: 1em;
    padding: 3px;
}